
.message {
	@apply bg-transparent mb-5 flex flex-col justify-center items-start
}

.message_from {
	@apply text-white font-medium;
	font-size: 15px;
}

.message_content {
	@apply bg-blue-700 text-white p-2 rounded-xl rounded-tl-none max-w-full break-words;
	font-size: 18px;
}

.my_message {
	@apply bg-transparent mb-5 flex flex-col justify-center items-end
}

.my_message_from {
	@apply text-white font-medium;
	font-size: 15px;
}

.my_message_content {
	@apply bg-orange-700 text-white p-2 rounded-xl rounded-tr-none max-w-full break-words;
	font-size: 18px;
}

.message_time {
	@apply opacity-50;
	font-size: 15px;
}